---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import BenefitsComponent from '../components/Benefits.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Beneficios | ClimaFresh">
	<Header />
	<main class="pt-20">
		<BenefitsComponent />
	</main>
	<Footer />
</Layout>
