---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ContactComponent from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Contáctanos | AC y Multiservicio Industrial">
	<Header />
	<main class="pt-20 bg-gray-50 min-h-screen">
		<ContactComponent />
	</main>
	<Footer />
</Layout>
