---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import QuoteComponent from "../components/Quote.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Solicitar Cotización | AC y Multiservicio Industrial">
	<Header />
	<main class="pt-20">
		<QuoteComponent />
	</main>
	<Footer />
</Layout>
