---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ServicesComponent from '../components/Services.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Nuestros Servicios | ClimaFresh">
	<Header />
	<main class="pt-20">
		<ServicesComponent />
	</main>
	<Footer />
</Layout>
